#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                base {
                        display-name = "Base";

        // ---------------------------------------------------------------------------------
        // | ESC  |  Q  |  W  |  E  |  R  |                |  Y  |  U  |  I  |  O  |  P  |  <-  |
        // | TAB  |  A  |  S  |  D  |  F  |                |  H  |  J  |  K  |  L  |  ;  |  `   |
        // | LSHFT|  Z  |  X  |  C  |  V  |                |  N  |  M  |  ,  |  .  |  /  | RCTRL|
        //              | LWIN|LCTRL|LSHFT| ENT |    | SPC | LOW |LARW |DARW |

                        bindings = <
&kp ESC   &kp Q     &kp W     &kp E      &kp R    &kp T    &kp T         &kp T &kp Y      &kp U   &kp I      &kp O     &kp P     &kp H
&kp M     &kp A     &kp S     &kp D      &kp F    &kp G    &kp T         &kp T &kp H      &kp J   &kp K      &kp L     &kp SEMI  &kp U
&kp K     &kp Z     &kp X     &kp C      &kp V    &kp B    &kp T         &kp T &kp N      &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp I
&kp       &kp       &kp       &studio_unlock  &kp V    &kp B    &kp T         &kp T &kp SPACE  &mo 1   &kp LARW   &kp DARW  &kp UARW  &kp O
                        >;
                };

                sym {
                        status = "reserved";
                };
                num {
                        status = "reserved";
                };
                settings {
                        status = "reserved";
                };
        };
};

