#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";
                base {
                        label = "BASE";
                        display-name = "Base";
                        bindings = <
        &kp ESC   &kp Q     &kp W     &kp E     &kp R      &kp T                          &kp Y  &kp U     &kp I      &kp O    &kp P     &kp BSPC
        &kp TAB   &kp A     &kp S     &kp D     &kp F      &kp G                          &kp H  &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
        &kp LSHFT &kp Z     &kp X     &kp C     &kp V      &kp B                          &kp N  &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RCTRL
                            &kp LWIN  &kp LWIN  &kp LCTRL  &kp LSHFT  &kp RET   &kp SPACE &mo 1  &kp RALT  &kp RWIN   &studio_unlock
                        >;
                                // | ESC  |  Q  |  W  |  E  |  R  |                |  Y  |  U  |  I  |  O  |  P  |  <-  |
                                // | TAB  |  A  |  S  |  D  |  F  |                |  H  |  J  |  K  |  L  |  ;  |  '   |
                                // | LSHFT|  Z  |  X  |  C  |  V  |                |  N  |  M  |  ,  |  .  |  /  | RCTRL|
                                //              | LWIN|LCTRL|LSHFT| ENT |    | SPC | MO1 |RALT |RWIN |unlk |
                };

                sym {
                        label = "SYM";
                        display-name = "Symbols";
                        bindings = <
        &kp ESC   &kp Q     &kp W     &kp E     &kp R      &kp T                          &kp Y  &kp U     &kp UP     &kp O     &kp P     &kp BSPC
        &kp TAB   &kp A     &kp S     &kp D     &kp F      &kp G                          &kp H  &kp LEFT  &kp DOWN   &kp RIGHT &kp SEMI  &kp SQT
        &kp LSHFT &kp Z     &kp X     &kp C     &kp V      &kp B                          &kp N  &kp M     &kp COMMA  &kp DOT   &kp FSLH  &kp RCTRL
                            &kp LWIN  &kp LWIN  &kp LCTRL  &kp LSHFT  &kp RET   &kp SPACE &mo 1  &kp RALT  &studio_unlock   &studio_unlock
                        >;
                                // | ESC  |  Q  |  W  |  E  |  R  |                |  Y  |  U  |  I  |  O  |  P  |  <-  |
                                // | TAB  |  A  |  S  |  D  |  F  |                |  H  |  J  |  K  |  L  |  ;  |  '   |
                                // | LSHFT|  Z  |  X  |  C  |  V  |                |  N  |  M  |  ,  |  .  |  /  | RCTRL|
                                //              | LWIN|LCTRL|LSHFT| ENT |    | SPC | MO1 |RALT | unl | unl |
                };
                num {
                        status = "reserved";
                };
                settings {
                        status = "reserved";
                };
        };
};
